body {
  padding-bottom: 40px;
  background-color: #328CC1;
  font-family: "Aldrich", sans-serif;
}
a {
	text-decoration: none;
}
a {
	color: #FFFFFF;
	font-size: 2rem;
	text-align: center;
}

a:link {
	color: #FFFFFF;
}
a:hover {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:focus {
	color: #FFFFFF;
}
.navbar {
    background-color: #1D2731;
    margin-bottom: 2em;
}
