body {
    background-color: #FFFFFF;
}
div#content.container h1 {
    color: #0B3C5D;
}
h1, p {
    color: #0B3C5D;
}
h1 {
    margin-bottom: .5em;
}
p {
    font-size: 1.5em;
}
html body div.container ul#services li a,
html body div.container ul#reports li a {
    color: #0B3C5D;
}
html body div.container ul#services,
html body div.container ul#reports {
    list-style: none;
    list-style-position: outside;
}
html body div.container p a {
    color: #0B3C5D;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading {
    color: #0B3C5D;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#reset_pass_link, #signup_link {
    color: #0B3C5D;
    font-size: 1.15rem;
}
.form-signin p a {
    font-size: 0.9em;
}
.btn {
    background-color: #ffffff;
    color: #2980b6;
    font-family: "Jura";
    font-weight: bold;
    margin: 10px 0;
}
