{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Dashboard{% endblock %}

{% block content %}
        <h1>Dashboard</h1>
        <p>Hello, {{ user.first_name }}!</p>
        <p>You have access to the following services:</p>
        <ul id="services">
            <li><a href="{% url 'upload:upload_file' %}">> Upload</a></li>
            <li><a href="{% url 'account:reports' %}">> Reports</a></li>
        </ul>
{% endblock content %}
