{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}GEOFIX - Sign in{% endblock %}

{% block content %}
    <div class="container">
        <form action="." class="form-signin" method="POST">
            {% if form.errors %}
            <h2 class="form-signin-heading">Invalid credentials. Please try again.</h2>
            {% else %}
            <h2 class="form-signin-heading">Please sign in:</h2>
            {% endif %}
            {% csrf_token %}
			{{ form.email }}
			{{ form.password }}
            <input type="hidden" name="next" value"{{ next }}" />
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit">
                Log in
            </button>
        <p><a id="reset_pass_link" href="{% url 'account:password_reset' %}">
                Forgotten your password?</a></p>
        <p><a id="signup_link" href="{% url 'account:register' %}">
                You don't have an account yet? Sign up!</a></p>
        </form>
    </div>
{% endblock content %}
