{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Password reset{% endblock %}

{% block content %}
        <h1>Password set</h1>
        <p>Your password has been reset. You can <a href="{% url 'account:login' %}">
           log in now</a>.</p>
{% endblock content %}
