{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Reset your password{% endblock %}

{% block content %}
        <h1>Forgotten your password?</h1>
        <p>Enter your e-mail address to obtain a new password.</p>
        <form action="." class="form-signin"
            method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value"{{ next }}" />
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit">
                Send e-mail
            </button>
        </form>
{% endblock content %}
