{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Reset your password{% endblock %}

{% block content %}
        <h1>Reset your password</h1>
        {% if validlink %}
            <p>Please, enter a new password twice:</p>
            <form action="" class="form-signin"
                method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value"{{ next }}" />
                <button class="btn btn-lg btn-primary btn-block"
                        type="submit">
                    Change my password
                </button>
            </form>
        {% else %}
            <p>The password reset link was invalid. It is possible it has already been
               used.
            </p>
        {% endif %}
{% endblock content %}
