{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Change your password{% endblock %}

{% block content %}
        <h1>Change your password</h1>
        <p>Use the form to change your password:</p>
        <form action="{% url 'account:password_change_done' %}" class="form-signin"
            method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value"{{ next }}" />
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit">
                Change
            </button>
        </form>
{% endblock content %}
