{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Password changed{% endblock %}

{% block content %}
        <h1>Password changed</h1>
        <p>Your password has been successfully changed.</p>
{% endblock content %}
