{% extends "base.html" %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <h1>Welcome, {{ user.first_name }}!</h1>
        <p>Your account has been successfully created.
           Now you can <a href="{% url 'account:login' %}">Log in!</a></p>
{% endblock %}
