{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Reset your password{% endblock %}

{% block content %}
        <h1>Activate your account</h1>
        <p>{{ new_user.first_name }}, we've emailed you instructions for activating
           your account.</p>
        <p>If you don't receive an email, please fill in our
            <a href="{% url 'account:register' %}">registration form</a> again.
        </p>
{% endblock content %}
