{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Create an account{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin" action="." method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <h2 class="form-signin-heading">{{ form.errors }}</h2>
            {% else %}
            <h2 class="form-signin-heading">Create an account</h2>
            {% endif %}
            {{ user_form.email }}
            {{ user_form.first_name }}
            {{ user_form.last_name }}
            {{ user_form.company }}
            {{ user_form.password }}
            {{ user_form.password2 }}
            <input type="hidden" name="next" value"{{ next }}" />
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit">
               Register 
            </button>
        </form>
    </div>
{% endblock %}
