{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}GEOFIX - Reports{% endblock %}

{% block content %}
        <h1>Reports</h1>
        <p>Your reports:</p>
        <ul id="reports">
            <li><a href="">> Report 1</a></li>
            <li><a href="">> Report 2</a></li>
        </ul>
{% endblock content %}
