@import "https://fonts.googleapis.com/css?family=Raleway";
.pure-checkbox input[type="checkbox"],
.pure-radiobutton input[type="checkbox"],
.pure-checkbox input[type="radio"],
.pure-radiobutton input[type="radio"] {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}
.pure-checkbox input[type="checkbox"]:focus+label:before,
.pure-radiobutton input[type="checkbox"]:focus+label:before,
.pure-checkbox input[type="radio"]:focus+label:before,
.pure-radiobutton input[type="radio"]:focus+label:before,
.pure-checkbox input[type="checkbox"]:hover+label:before,
.pure-radiobutton input[type="checkbox"]:hover+label:before,
.pure-checkbox input[type="radio"]:hover+label:before,
.pure-radiobutton input[type="radio"]:hover+label:before {
    border-color:#000;
    background-color:#1D2731;
}
.pure-checkbox input[type="checkbox"]:active+label:before,
.pure-radiobutton input[type="checkbox"]:active+label:before,
.pure-checkbox input[type="radio"]:active+label:before,
.pure-radiobutton input[type="radio"]:active+label:before {
    transition-duration:0s;
}
.pure-checkbox input[type="checkbox"]+label,
.pure-radiobutton input[type="checkbox"]+label,
.pure-checkbox input[type="radio"]+label,
.pure-radiobutton input[type="radio"]+label {
    position:relative;
    padding-left:2em;
    vertical-align:middle;
    user-select:none;
    cursor:pointer;
}
.pure-checkbox input[type="checkbox"]+label:before,
.pure-radiobutton input[type="checkbox"]+label:before,
.pure-checkbox input[type="radio"]+label:before,
.pure-radiobutton input[type="radio"]+label:before {
    box-sizing:content-box;
    content:'';
    color:#FFF;
    position:absolute;
    top:50%;
    left:0;
    width:14px;
    height:14px;
    margin-top:-9px;
    border:2px solid #000;
    text-align:center;
    transition:all 0.4s ease;
}
.pure-checkbox input[type="checkbox"]+label:after,
.pure-radiobutton input[type="checkbox"]+label:after,
.pure-checkbox input[type="radio"]+label:after,
.pure-radiobutton input[type="radio"]+label:after {
    box-sizing:content-box;
    content:'';
    background-color:#FFF;
    position:absolute;
    top:50%;
    left:4px;
    width:10px;
    height:10px;
    margin-top:-5px;
    transform:scale(0);
    transform-origin:50%;
    transition:transform 200ms ease-out;
}
.pure-checkbox input[type="checkbox"]:disabled+label:before,
.pure-radiobutton input[type="checkbox"]:disabled+label:before,
.pure-checkbox input[type="radio"]:disabled+label:before,
.pure-radiobutton input[type="radio"]:disabled+label:before {
    border-color:#FFF;
}
.pure-checkbox input[type="checkbox"]:disabled:focus+label:before,
.pure-radiobutton input[type="checkbox"]:disabled:focus+label:before,
.pure-checkbox input[type="radio"]:disabled:focus+label:before,
.pure-radiobutton input[type="radio"]:disabled:focus+label:before,
.pure-checkbox input[type="checkbox"]:disabled:hover+label:before,
.pure-radiobutton input[type="checkbox"]:disabled:hover+label:before,
.pure-checkbox input[type="radio"]:disabled:hover+label:before,
.pure-radiobutton input[type="radio"]:disabled:hover+label:before {
    background-color:inherit;
}
.pure-checkbox input[type="checkbox"]:disabled:checked+label:before,
.pure-radiobutton input[type="checkbox"]:disabled:checked+label:before,
.pure-checkbox input[type="radio"]:disabled:checked+label:before,
.pure-radiobutton input[type="radio"]:disabled:checked+label:before {
    background-color:#1D2731;
}
.pure-checkbox input[type="checkbox"]+label:after,
.pure-radiobutton input[type="checkbox"]+label:after {
    background-color:transparent;
    top:50%;
    left:4px;
    width:8px;
    height:3px;
    margin-top:-4px;
    border-style:solid;
    border-color:#FFF;
    border-width:0 0 3px 3px;
    border-image:none;
    transform:rotate(-45deg) scale(0);
}
.pure-checkbox input[type="checkbox"]:checked+label:after,
.pure-radiobutton input[type="checkbox"]:checked+label:after {
    content:'';
    transform:rotate(-45deg) scale(1);
    transition:transform 200ms ease-out;
}
.pure-checkbox input[type="radio"]:checked+label:before,
.pure-radiobutton input[type="radio"]:checked+label:before {
    animation:borderscale 300ms ease-in;
    background-color:#1D2731;
}
.pure-checkbox input[type="radio"]:checked+label:after,
.pure-radiobutton input[type="radio"]:checked+label:after {
    transform:scale(1);
}
.pure-checkbox input[type="radio"]+label:before,
.pure-radiobutton input[type="radio"]+label:before,
.pure-checkbox input[type="radio"]+label:after,
.pure-radiobutton input[type="radio"]+label:after {
    border-radius:50%;
}
.pure-checkbox input[type="checkbox"]:checked+label:before,
.pure-radiobutton input[type="checkbox"]:checked+label:before {
    animation:borderscale 200ms ease-in;
    background:#1D2731;
}
.pure-checkbox input[type="checkbox"]:checked+label:after,
.pure-radiobutton input[type="checkbox"]:checked+label:after {
    transform:rotate(-45deg) scale(1);
}
#geoids_a {
    margin-bottom: 1.3em;
}
#geoids_a li {
    margin-right: 3em;
}
@keyframes borderscale {
    50% {
        box-shadow:0 0 0 2px #CCC;
    }
}
body {
    color:#333333;
    background:#FFFFFF;
}
ul.input-list {
    list-style:none;
    margin:0;
    padding:0;
}
ul.input-list li {
    margin:10px 0;
    padding:0;
}
ul label {
    font-size: 1.2em;
}
.panel {
    margin:20px 0;
    width:100%;
}
.panel .panel-heading {
    background:#1D2731;
    color:#FFF;
    font-size: 1.5em;
    padding:20px 30px;
    vertical-align: middle;
}
.panel .panel-body {
    padding:20px;
    border:1px solid #1D2731;
}
ul {
  width:560px;
  margin-bottom:10px;
  overflow:hidden;
  border-top:0px solid #ccc;
}
li {
  line-height:0.2em;
  border-bottom:0px solid #ccc;
  float:left;
  display:inline;
}
#all {
    margin-top: 1.5em;
}

#triple li  { width:33.333%; }
#quad li    { width:25%; }

