body {
    background-color: #FFFFFF;
}
.upload-panel {
    color: #0B3C5D;
    font-size: 1.5rem;
}
.upload-panel {
    max-width: 330px;
    margin: 0 auto;
}
.btn {
    background-color: #ffffff;
    color: #2980b6;
    font-family: "Jura";
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}
.form-upload {
    border: 1px solid #1D2731;
    max-width: 660px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 2rem;
}
