{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}"
        rel="stylesheet">
{% endblock %}
{% block title %}GEOFIX - Dashboard - Upload{% endblock %}
{% block content %}
    <form enctype="multipart/form-data" method="POST" class="form-upload">
        {% csrf_token %}
        <div id="coordinates" class="panel">
            <div class="panel-heading">
                <i class="fa fa-map-o fa-2x" aria-hidden="true"></i> Coordinates</div>
            <div class="panel-body">
                <ul class="input-list", id="quad">
                    {% for item in coordinates %}
                    <li>
                        <div class="pure-radiobutton">
                            <input id="{{ item }}" name="zones" class="radio" type="radio" value="{{ forloop.counter }}">
                            <label for="{{ item }}">{{ item }}</label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <div id="columns-options" class="panel">
            <div class="panel-heading"><i class="fa fa-table fa-2x" aria-hidden="true"></i> Columns</div>
                <div class="panel-body">
                    <ul class="input-list" id="triple">
                        {% for item in columns %}
                        <li>
                            {% if item == "All" %}
                            <div id="all" class="pure-checkbox">
                                <input id="check_all" class="column" name="checkbox" type="checkbox" value="{{ item }}">
                                <label for="check_all">{{ item }}</label>
                            </div>
                            {% else %}
                            <div class="pure-checkbox">
                                <input id="{{ item }}" class="column" name="checkbox" type="checkbox" value="{{ item }}">
                                <label for="{{ item }}">{{ item }}</label>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        <div id="geoid-model" class="panel">
            <div class="panel-heading"><i class="fa fa-globe fa-2x" aria-hidden="true"></i> Geoid model</div>
                <div class="panel-body">
                    <ul id="geoids_a" class="input-list">
                        <li>
                            <div class="pure-checkbox">
                                <input id="compute" name="compute" type="checkbox" value="compute">
                                <label for="compute">Compute height</label>
                            </div>
                        </li>
                        <li>
                            <div class="pure-checkbox">
                                <input id="shift" name="vertical_shift" type="checkbox" value="shift">
                                <label for="shift">Vertical shift</label>
                            </div>
                        </li>
                    </ul>
                    <ul class="input-list" id="triple">
                        {% for item in geoid_model %}
                        <li>
                            {% if item == "GUGIK2011" %}
                            <div class="pure-checkbox">
                                <input id="{{ item }}" name="radio" class="radio" type="radio" value="{{ item }}" checked>
                                <label for="{{ item }}">{{ item }}</label>
                            </div>
                            {% else %}
                            <div class="pure-checkbox">
                                <input id="{{ item }}" name="radio" class="radio" type="radio" value="{{ item }}">
                                <label for="{{ item }}">{{ item }}</label>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        <div class="upload-panel">
            <label for="file">Choose a file to upload</label>
            {{ form.uploaded_file }}
            <button id="submit_button" class="btn btn-lg btn-primary btn-block" type="submit" disabled=True>
                Submit 
            </button>
        </div>
    </form>
{% endblock %}
{% block js_scripts %}
    <script type="text/javascript">
    $(document).ready(function () {
        var coordinates = false;
        var geoidModel = false;
        $("#coordinates [type=radio]").each(function() {
            $(this).click(function() {
                if (this.checked) {
                    coordinates = true;
                } else {
                    coordinates = false;
                };
            });
        });
        $("#geoid-model [type=radio]").each(function() {
            $(this).click(function() {
                if (this.checked) {
                    geoidModel = true;
                } else {
                    geoidModel = false;
                };
            });
        });
        $("input").click(function() {
            if (coordinates && geoidModel) {
                $("#submit_button").prop("disabled", false);
            } else {
                $("#submit_button").prop("disabled", true);
            };
        });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#check_all").change(function () {
            $(".column").prop('checked', $(this).prop("checked"));
        });
    });
    </script>
{% endblock %}
