{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/upload_success.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<p>Thank you for uploading the file.</p>
<p>It will be processed shortly.</p>
{% endblock %}
